@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */
.navbar {
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;
}

.navbar #logo {
	line-height: 60px;
}

.navbar #logo img {
	width: 149px;
	vertical-align: middle;
}

.navbar #menu {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.navbar #menu li {
	float: left;
	margin-left: 30px;
	line-height: 60px;
}

.navbar #menu li a {
	font-size: 13px;
	color: #545454;
	font-weight: bold;
	text-decoration: none;
}

/* hero header */
.hero-header {
	height: 450px;
	background-image: url("../images/hero_header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* products */
.products h3 {
	font-size: 24px;
	color: #545454;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

/* 한 줄에 제품 3개 놓기 위해서, 
   제품들을 div.product-list로 감싸고,
   product-list의 width 를 제품 3개+margin만큼으로 설정! */
.product-list {
	width: 735px;
	
	/*가운데 정렬*/
	margin-left: auto;
	margin-right: auto;
}

.product {
	width: 225px;
	text-align: center;
	
	/* ↓ <a>태그를 강제로 block 요소로 변경*/
	display: block;
	color: #545454;
	text-decoration: none;
	
	/*    block 요소로 변경해서 다 다른 줄에 나온다.
	   ↓ 같은 줄에 나오게 하기 위해서 */
	float: left;
	
	/*제품사이에 간격주기*/
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 80px;
}

.product img {
	width: 225px;
}

.product-name {
	margin-top: 20px;
	margin-bottom: 4px;
}

.clearfix {
	clear: both;
}

/* footer */
#footer {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 80px;
}

#footer a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	/* └→ 밑줄도 없는 img태그를 감싸는 footer a 에
			text-decoration: none;을 한 이유는
			a태그 내부에 발생한 공백에 의한 밑줄 때문 */
}
#footer a img {
	height: 20px;
}
