@charset "UTF-8";
@font-face {
    src: url("../fonts/BMJUA_ttf.ttf");
    font-family: "jua";
}

* {
  box-sizing: border-box;
}

body {
  font-family: jua;
  color: #58595B;
  background-color: #F0E8D9;
}

h1 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
}
h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 25px;
}
.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
}
.menu {
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#title {
  font-size: 32px;
  margin-bottom: 20px;
}
#contents {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: left;
}
#pay a {
  font-size: 16px;
  color: #0000EE;
  text-decoration: none;
}